@import '../init';

@mixin printStyles () {
    width: $baseball-image-print-width;
    height: $baseball-image-print-height;
    left: calc((100% - #{$baseball-image-print-width}) / 2);
    top: calc((100% - #{$baseball-image-print-height}) / 2);
    overflow: hidden;
    position: absolute;

    .baseball-image {
    	.container {
		    left: 0;
		    width: $baseball-image-print-width;
		    height: $baseball-image-print-height;
		    overflow: hidden;

		    svg {
		    	display: none;
		    }
    	}
    }

    button {
    	display: none;
    }

    .boxscores {
    	height: auto;
    }
}

.baseball-image-page {
	height: 100vh;
    width: 100vw;

    .boxscores {
    	height: calc((100vw - 80px) * .333);
    	overflow: hidden;
    }

    @media print {
    	@include printStyles
    }

    &.print-preview {
    	/*@include printStyles*/
    }
}