@import '../init';

.event-page {
	padding: 2.5% 100px;

	@include width-under($bp-medium) {
		padding-left: 30px;
		padding-right: 30px;
	}

	.boxscore-info {
		position: relative;
		margin: 1em 0;
	}

	.baseball-image {

		position: absolute;

		width: calc(100vw - 500px);
		height: calc(.333 * (100vw - 500px));
		top: 0;
		right: 0;

		.container {
			width: 100%;
			left: 0;
		}

		.container-boxscore {
			@include rollover-message('View Fullscreen');
			&:hover {
				&:before {
					background: rgba(0,0,0, 0.65);
				}
			}
		}

		.container-guides {
			pointer-events: none;
		}

		.boxscores {
			@include scalingText('100vw - 550px', $baseball-image-font-size);
		}

		@include width-under($bp-medium) {
			width: calc(100vw - 340px);
			height: calc(.333 * (100vw - 340px));

			.boxscores {
				@include scalingText('100vw - 340px', $baseball-image-font-size);
			}
		}
	}
}