@import '../init';

.event-search {
	button {
		background: lightgrey;

		&:not(:last-child) {
			margin: 0 10px 10px 0;
		}

		&:hover {
			background: $color-grey-lightest;
		}

		* {
			pointer-events: none
		}

		&.active {
			background: red;
		}
	}
}