@import '../init';

.line-scores {

	width: 250px;

	.row {
		display: flex;

		border: 1px solid $color-grey-medium;
		border-width: 0;
		font-size: 14px;

		&:first-of-type {
			border-bottom-width: 1px;
		}

		&:not(:first-of-type) {
			border-top-color: $color-grey-lightest;
		}

		& > * {
			flex: 1 1 1em;
		    text-align: center;
		    padding: 2px 0;
		    font-size: 12px;

		    &:not(:first-child){
		    	border-left-width: 1px
		    }

		    &.team-totals {
			    border: 0px solid $color-grey-lightest;
		    	/*border-width: 0 0 0 1px;*/
		    	flex: 1.25 1.25 1.25em;
			}

		    &.team-name {
			    width: 15%;
			    min-width: 50px;
			    text-align: left;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			}
		}

		.period {
			&:first-of-type{
				margin-left: 3%;
			}
			&:nth-of-type(3n){
				margin-right: 3%;
			}
			&:last-of-type{
				margin-right: 3%;
			}
		}

		&.headers {
			@include cantarell-bold;
			/*background: $color-grey-lightest;*/
			/*border-bottom: 1px solid $color-grey-medium;*/
			& > * {
				font-size: 10px;
			    padding: 0 0 1px;
			}
		}

	}
}