@import '../init';

.line-scores {

	font-size: 12px;
	margin: .75em 0;

	.row {
		display: flex;

		border: 0 solid black; //$color-grey-medium;

		&:first-of-type {
			border-bottom-width: .15em;
		}

		&:not(:first-of-type) {
			border-top-color: $color-grey-lightest;
		}

		& > * {
			flex: 1 1 1em;
		    text-align: center;
		    padding: 0.0625em 0;

		    &.team-totals {
			    border: 0px solid $color-grey-lightest;
		    	/*border-width: 0 0 0 1px;*/
		    	flex: 1.25 1.25 1.25em;
			}

		    &.team-name {
		    	@include cantarell-bold;
			    min-width: 25%;
			    text-align: left;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			}
		}

		&.line-score {
			.team-name {
				@include cantarell-bold;
				font-size: 0.75em;
				text-transform: uppercase;
				margin: .2em 0;
			}
		}

		.period {
			&:first-of-type{
				margin-left: 5%;
			}
			&:nth-of-type(3n){
				margin-right: 5%;
			}
			&:last-of-type{
				margin-right: 5%;
			}
		}

		&.headers {
			@include cantarell-bold;
			font-size: .75em;
		    margin-bottom: 1em;
			/*background: $color-grey-lightest;*/
			/*border-bottom: 1px solid $color-grey-medium;*/
			& > * {
			    padding: 0 0 0.1em;
			}
		}

	}
}