@import '../init';

.results-synopsis {
	/*font-size: 16px;*/
	margin: 5px 0;

	.headers {
	    text-transform: uppercase;
	}

	.category {
		display: none;
		&:not(.no-content) {
			display: inline;
			&:not(:last-child) {
				margin-right: 3px;
			}
		}
	}
	.category-name {
		@include cantarell-bold;
	}
}