@import '../init';

.team-results {
    /*display: inline-block;*/
    vertical-align: top;

	.row {
		display: flex;
		& > div {
			flex: 1 1 1em;
		    text-align: center;
		    padding: 0.0625em 0;

		    &.name {
				width: 20%;
				min-width: 7.25em;
			    text-align: left;
			}

			&.avg {
				flex: 1.5 1.5 1.5em;

				text-align: right;
			}

			&.era {
				flex: 1.75 1.75 1.75em;

				text-align: right;
			}

			&.stat {
			}
		}

		&.pitcher {
			&.headers {
				margin-top: 0.625em;
			}
		}
	}

	.player {
		font-size: .75em;
		&.sub-batting-order{
			.name {
				padding-left: 0.66em;
			}
		}
	}

	.headers,
	.totals {
		@include cantarell-bold;
		font-size: 0.625em;
		/*background: $color-grey-lightest;*/
		border: 2px solid black; //$color-grey-medium;
		border-width: 0 0 2px 0;
		& > div {
		    padding: 0 0 .1em;
		}
	}

	.headers {
	    margin-bottom: .5em;
	}

	.totals {
		border-width: 2px 0 0 0;
		padding-top: .2em;
		margin-top: .5em;
		& > div {
			&.name {
				text-align: right;
				padding-right: 0.625em;
			}
		}
	}
}

